// Global default params, used in configs
params {

  // Workflow flags
  outdir = '${params.outdir}/results'

  // Boilerplate options
  help = false
  tracedir = "${params.outdir}/pipeline_info"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'    

if (params.medaka){
  process.container = "gcr.io/biga-testing/artic-ncov2019-medaka"
} else {
  process.container = "gcr.io/biga-testing/artic-ncov2019-illumina"
}

profiles {
  conda { 
     if (params.medaka){
       process.conda = "$baseDir/environment-medaka.yml"
     } else if (params.nanopolish) {
       process.conda = "$baseDir/environment.yml"
     } else if (params.illumina) {
       process.conda = "$baseDir/environment-illumina.yml"
     }
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true 
    singularity.autoMounts = true

    if (params.medaka){
      process.container = "gs://biga-testing-life-sciences/artic-ncov2019-medaka.sif"
    } else if (params.nanopolish) {
      process.container = "gs://biga-testing-life-sciences/artic-ncov2019-nanopolish.sif"
    } else if (params.illumina) {
      process.container = "gs://biga-testing-life-sciences//artic-ncov2019-illumina.sif"
    }
  }
  slurm {
    process.executor = 'slurm'
    includeConfig 'conf/slurm.config'
  }

  gls {

      process.executor = 'google-lifesciences'
      workDir = 'gs://biga-testing-life-sciences/scratch' // <- replace with your own bucket!
      google.region  = 'us-central1'
      google.project = 'biga-testing'
      google.lifeSciences.bootDiskSize = 150.GB
      google.lifeSciences.preemptible = true
      process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
      process.maxRetries = 5
  }  



}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = false
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = false
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = false
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = false
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  author = 'Matt Bull'
  description = 'Nextflow for running the Artic ncov2019 pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

